
		
		<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>Dior Home Pop-up Shop in Chelsea Market</h2>
					</div>
					
<div class="span8 columns">
<div id="myCarousel" class="carousel slide">

<!-- Carousel items -->
<div class="carousel-inner">

<div class="active item">
<img src="img/popup.jpg" alt="" class="pull-left" />
</div>

<div class="item">
<img src="img/tronpop.jpg" alt="" class="pull-left" />
</div>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

					<h3>About</h3>
					<p>Praesent arcu tortor, pulvinar a pretium sit amet, rutrum nec tortor. Etiam vel ante in turpis fringilla consectetur id vel tellus. Aenean fermentum diam at tortor faucibus consequat. Mauris vel facilisis justo. Proin ultricies mattis mauris, at ornare purus tristique vel. Aliquam erat volutpat. Nulla sed adipiscing sapien. Aliquam erat volutpat.	Nunc augue nisi, lacinia sit amet convallis ut, luctus nec purus. 
					</p>			
					<h3>When</h3>
					<p>Saturday - Sunday 
					</p>
					<h3>Open</h3>
					<p>2pm-10pm
					</p>
					<h3>Organized By</h3>
					<p>Dior 
					</p>
					<button type="submit" class="btn btn-danger btn-large">RSVP for Event</button>
				</div>
				</div>
			</div>
		</div>
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="span4">
						<strong>PAGES</strong>
						<ul class="unstyled">
							<li><a href="index.html">Home</a></li>
							<li><a href="2col.html">2 Column Page</a></li>
							<li><a href="full.html">Full Width Page</a></li>
						</ul>
					</div>
					<div class="span4">
						<strong>LINKS</strong>
						<ul class="unstyled">
							<li><a href="http://http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
							<li><a href="http://wrapbootstrap.com/" target="_blank">{wrap}bootstrap</a></li>
							<li><a href="http://www.nosecreekweb.ca" target="_blank">Nose Creek Web Design</a></li>
						</ul>
					</div>
					<div class="span4">
						<strong>CONTACT</strong>
						<address>
							<ul class="unstyled">
								<li>555.555.1243</li>
								<li><a href="mailto:themes@nosecreekweb.ca">themes@nosecreekweb.ca</a></li>
								<li>123 Business Blvd.<br />
								Someplace, NY 43901</li>
							</ul>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="span12" id="copyright">(c)2012 Bootstrap Business. All rights reserved.</div>
				</div>
			</div>
		</footer>
