
<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>About Us</h2>
					</div>
					
					<h3>Love Popup is creating a marketplace for short-term retail space.</h3> 	
					<br/>
					<p>At the heart of Love Popup is our passion to help independent merchants create great shopping experiences. We think shopping should be exciting, memorable, and a true tactile experience. At Love Popup we help leading merchants find offline retail space to host their pop up store. Whether its fashion, food, a farmer's market, or an art fair - Love Popup connects you with the perfect space. 
					</p>
					<p>If you are a retailer or a store owner with extra space and want to list that space with us- <a href="contact.html">send us an email.</a></p>
					<p>We're excited to get to know you. Say hello on our social media accounts, or <a href="contact.html">drop us a note</a>!
					</p>
				</div>
				</div>
			</div>
		</div>
		
	