
<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>Love Popup Ambassador Program</h2>
					</div>
					
					<p><b>
					Do you love shopping? How about discovering unique shops and fashion trucks? Love Popup is calling all folks who love the thrill of the hunt to join our ambassador program! By becoming an ambassador you will:
					</b>	
					</p>
					
					<ul>
					<li><p>
					Connect with a exclusive network of go-getters and the founding team at Love Popup 
					</p>
					</li>
					<li><p>
					Earn ambassador rewards and access to exclusive events 
					</p>
					</li>
					<li><p>
					Represent your city as an expert fashionista
					</p>
					</li>
					<li><p>
					Help shape the future of retail and shopping
					</p>
					</li>
					</ul>
					
<p><b>What is the Love Popup Ambassador Program?</b></p>
<p>
The Love Popup Ambassador Program is a unique opportunity for fashionistas, hipsters, connectors, and other community organizers to help shape the future of retail. We believe that shopping should be less about sales and more about a personalized, memorable event. As an ambassador, you would help us discover these unique shopping experiences and highlight merchants that offer truly one-of-a-kind events. 
</p>

<p><b>What would I do as an ambassador?</b></p>
<p>You would be fabulous! You would also:</p>

<p><%= image_tag "cityicon.png" %> <i> Discover & Share</i></p>
<p>
You know your city better than anyone. We want you to share those unique stores with us. Is there a pop-up store that is opening this weekend? Maybe a food truck fair this Friday? We want to hear about them and get the word out! 
</p>

<p><%= image_tag "hearticon.png" %> <i> Spread the Love</i></p>
<p>
Help spread Love Popup to people in your network. Many folks support independent retailers and we want to help them build awareness. As an ambassador you would represent us at local fairs, talk with local users, and connect with local bloggers. 
</p>

<p><%= image_tag "groupicon.png" %> <i> Join the Community</i></p>
<p>
The Love Popup ambassador program is a private community of passionate individuals. As an ambassador you would be apart of this exclusive network and get invited to monthly webinars with other members and the founders of Love Popup. 
</p>

<p><%= image_tag "martiniicon.png" %> <i> Attend Awesome Events</i></p>
<p>
As an ambassador you’ll be invited to exclusive pop up shops and other events organized by Love Popup and our merchants. You’ll also be able to earn exclusive offers at pop up shops. 
</p>

<p><b>How do I become an Ambassador?</b></p>
<p>
Ready to take the plunge? Awesome! Click the button below and complete the application. We're excited to meet you! 
</p>
<a type="submit" style="color:#FFFFFF" href="https://docs.google.com/spreadsheet/viewform?formkey=dGRBU0lkRGx4X0ViUUR0cHZLMDZveFE6MQ" class="btn btn-danger btn-large">Apply Now!</a>
				
				
				
				</div>
				</div>
			</div>
		</div>
		
	