<div class="container" id="main-content">
<div class="row">
<div class="span12">

<div id="headline">
<h2>Lookin' Good! Welcome aboard!</h2>
<p>At the heart of Love Popup is our passion to help you discover great shopping experiences.</p> 
</div>
					
<h1>Which city do you hail from?</h1> 		



</div>
</div>
</div>
		
	