<div class="container" id="main-content">
<div class="row">
<div class="span12">

<div id="headline">
<h2>Lookin' Good! Welcome aboard!</h2>
<p>At the heart of Love Popup is our passion to help you discover great shopping experiences.</p><p>Don't see your city?  Please <a href="contact">reach out</a> to us, or in you're really lovin' it consider becoming a <a href="ambassador">Love Popup Ambassador!</a>
</p> 
</div>
					
<div class="cityquestion">Which city do you hail from?</div> 		
<div class="citylist">
<ul>
<li>
<%= image_tag "nyc.jpg" %>
<div class="citylisttitle">New York</div>
</li>

<li>
<%= image_tag "ls.jpg" %>
<div class="citylisttitle">Los Angeles</div>
</li>

<li>
<%= image_tag "sanfrancisco.jpg" %>
<div class="citylisttitle">San Francisco</div>
</li>

<li>
<%= image_tag "boston.jpg" %>
<div class="citylisttitle">Boston</div>
</li>


</ul>

</div>
</div>



</div>
</div>

<div class="cityspace"></div>

		
	