
<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>Contact Us</h2>
					</div>
					
					<p><b>We love talking with our members!</b></p> 		
					<p>Connect with us in the way that is the most convenient for you. 
					</p>
					<p>Email: <a href="mailto:hello@lovepopup.com">hello@lovepopup.com</a>  
					</p>
					<p>Twitter: <a href="http://www.twitter.com/lovepopup">@lovepopup</a>  
					</p>
					<p>Facebook: <a href="http://www.facebook.com/lovepopupshops">Love Popup Page</a>  
					</p>
					<br />
					<p>Or, send us a note below:</p>
					<div class="span7"?
					<div id="wufoo-z7x3x5">
Fill out my <a href="http://popupweekly.wufoo.com/forms/z7x3x5">online form</a>.
</div>
<script type="text/javascript">var z7x3x5;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'popupweekly', 
'formHash':'z7x3x5', 
'autoResize':true,
'height':'517',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
</div>

				</div>
				</div>
			</div>
		</div>
		
	