
<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>About Us</h2>
					</div>
					
					<h1>Love Popup is the marketplace for discovering unique shopping experiences.</h1> 		
					<p>At the heart of Love Popup is our passion to help you discover great shopping experiences. We think shopping should be exciting, memorable, and a true tactile experience. At Love Popup we work with leading pop-up merchants to bring you the most unique shopping experiences in your city- whether its fashion, food, a farmer's market, or an art fair. 
					</p>
					<h2>What we believe</h2>
					<p>Shopping should be memorable
					</p>
					<p>Retail should be about the event
					</p>
				</div>
				</div>
			</div>
		</div>
		
	