
<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>Merchants</h2>
					</div>
					<p>At the heart of Love Popup is our passion to help customers discover great shopping experiences. We think shopping should be exciting, memorable, and a true tactile experience. If you're interesting in promoting your pop up shop, mobile fashion/food truck, or unique retail experience, please get in touch with us below!
					</p>
					<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGJRQ0lXVDg2cTJnOW1kUzJ2NHo0N3c6MQ" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				</div>
				</div>
			</div>
		</div>
		
	