
<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2>Hello, Retailers</h2>
					</div>
					
					<p><b>
					Are you a friend of your local economy? Do you like to create a unique and memorable shopping experience for your customers? Are you willing to feature other merchants exclusively in your store? Then consider listing your space on Love Popup:
					</b>	
					</p>
					
					<ul>
					<li><p>
					Set the price of your extra or empty space and earn extra income from merchants renting part of the space
					</p>
					</li>
					<li><p>
					Generate additional foot traffic sales as new people come into your store
					</p>
					</li>
					<li><p>
					Manage which merchants are featured in your store - you'll always have full control
					</p>
					</li>
					<li><p>
					Appeal to customers who love a unique shopping experience 
					</p>
					</li>
					<li><p>
					Help shape the future of retail and shopping
					</p>
					</li>
					</ul>
					<br/>
<p><b>Sounds great, what are the next steps?</b></p>
<p>
Submit the form below to get the ball rolling. Someone from the Love Popup team will get in touch with you. We have a variety of merchants that are interested in running a pop-up store and we'll put you in touch with the best match.
</p>
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEhzTHRTclBfYzZxamFNWVNmb0l1SFE6MQ" width="760" height="843" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>				
				
				
</div>
</div>
</div>
</div>
		
	