<link href="/newss/welcome.css" rel= "stylesheet">

<div id="first1">
<div id="second2"></div>
<div id="third3">				
<div id="headlineme">
<h3>Launch your pop-up shop this weekend.</h3></div>
<div id="secondthird"></div>
<div id="third3">				
<p>We empower independent merchants to launch pop-up shops.</p>
<p>Find fabulous!</p>
<a href = "/auth/facebook"><%= image_tag "facebookbutton2.png" %> </a>
</div>

</div>
</div>
			
<div class="welcomebox"></div>
		
	
	