<link href="/newss/welcome.css" rel= "stylesheet">

<div id="first1">
<div id="second2"></div>
<div id="third3">				
<div id="headlineme">
<h2><span class="red">LOVE</span> POPUP <span class="grey">is the</span></h2><h3> marketplace for discovering local<br/> pop-up shops.</h3></div>
<div id="secondthird"></div>
<div id="third3">				
<p>Discover unique, limited-time shops</p>
<p>Receive exclusive offers</p>
<p>Find fabulous!</p>
<a href = "auth/facebook"><%= image_tag "facebookbutton2.png" %> </a>
</div>

</div>
</div>
			
<div class="welcomebox"></div>
		
	
	